@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
    .input{
      @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all
      duration-300 placeholder:text-stone-400  focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3;
    }
    /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
    .spinner-4 {
        width: 50px;
        --b: 8px; /* the border thickness */
        aspect-ratio: 1;
        border-radius: 50%;
        padding: 1px;
        background: conic-gradient(#0000 10%,#f03355) content-box;
        -webkit-mask:
          repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
          radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
        -webkit-mask-composite: destination-in;
        mask-composite: intersect;
        animation:s4 1s infinite steps(10);
      }
      @keyframes s4 {to{transform: rotate(1turn)}}
  }